@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eaeaea;
}

.page-presensi {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* clock */
.datetime {
    color: #fff;
    background: #4ecdc4;
    font-family: "Rubik";
    width: 360px;
    margin-bottom: 25px;
    padding: 15px 10px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.date {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 3px;
}

.time {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time span:not(:last-child) {
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time span:last-child {
    background-color: #ee9a24;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 3px;
    padding: 0 5px;
    border-radius: 3px;
}

/* form presensi */
.form-presensi {
    width: 360px;
    min-height: 400px;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    transition: 0.5s;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.form-presensi .form {
    width: 80%;
    position: absolute;
    top: 75px;
    margin-left: 40px;
    transition: 0.5s;
}

h3 {
    text-align: center;
    margin-bottom: 40px;
}

.form-input {
    width: 100%;
    padding: 10px 5px;
    margin: 5px auto;
    border: 0;
    border-bottom: 2px solid #999;
    outline: 0;
    background: transparent;
    transition: 0.5s ease-in;
}

.form-input:focus {
    border-color: #f8801d;
}

.form-input::placeholder {
    color: #777;
}

.btn-box {
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

.btn-box button {
    width: 110px;
    height: 35px;
    margin: 0 10px;
    border-radius: 30px;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;
}

#next-page,
#pre-page {
    background-color: #ee9a24;
}

.webcamera {
    width: 100%;
    height: 280px;
    margin: auto;
    margin-bottom: 10px;
}

#results {
    position: relative;
}

#form-kamera {
    margin-left: 650px;
}

.btn-camera {
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

.btn_btn-camera {
    width: 60px;
    height: 60px;
    border: 5px solid #333;
    border-radius: 60px;
    background: transparent;
}

.btn_btn-camera i {
    font-size: 23px;
}

#prevButton {
    background-color: #ee9a24;
}

.step-row {
    width: 360px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
}

.step-col {
    width: 50%;
    text-align: center;
    color: #fff;
    position: relative;
}

#step2 {
    color: #333;
    transition: 0.5s;
}

#progress {
    position: absolute;
    height: 100%;
    width: 50%;
    background: linear-gradient(to right, #f8801d, #ee9a24);
    transition: 1s;
}

#progress::after {
    content: "";
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid #ee9a24;
}

/* Responsive breakpoints */
@media (max-width: 575.98px) {
    body {
        background-color: #fff;
    }

    .page-presensi {
        display: block;
    }

    .datetime {
        width: 100%;
        box-shadow: none;
        border-radius: 0;
        margin-bottom: 0;
    }

    .form-presensi {
        width: 100%;
        border-radius: 0;
        box-shadow: none;
    }

    .form-presensi .form {
        margin: auto;
        width: 100%;
        text-align: center;
    }

    .form-input {
        width: 80%;
    }

    .step-row {
        margin: 0;
        width: 100%;
    }

    .step-col {
        width: 50%;
    }
}
